.layout {
  border: 1px solid #d7dde4;
  background: #f5f7f9;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.layout-breadcrumb {
  padding: 10px 15px 0;
}

.layout-content {
  min-height: 900px;
  margin: 15px;
  overflow: hidden;
  background: #fff;
  border-radius: 4px;
}

.layout-content-main {
  padding: 10px;
}

.layout-copy {
  text-align: center;
  padding: 10px 0 20px;
  color: #9ea7b4;
}

.layout-menu-left {
  background: #464c5b;
}

.layout-header {
  height: 30px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

.layout-logo-left {
  width: 90%;
  height: 30px;
  background: #5b6270;
  border-radius: 3px;
  margin: 15px auto;
}

.layout-ceiling-main a {
  color: #9ba7b5;
}

.layout-hide-text .layout-text {
  display: none;
}

.ivu-col {
  transition: width .2s ease-in-out;
}

.add-split {
  min-height: 200px;
  height: 100%;
  border: 1px solid #dcdee2;
}

.add-split-pane {
  padding: 10px;
  height: 100%;
  overflow: scroll;
}
.add-tips-box{
  height: 100px;
}
.add-form-box{
  display: block;
  /* max-width: 800px; */
  width: 100%;
  box-sizing: border-box;
  border:2px solid black;
      margin-bottom: 10rem;
}
.add-poster-box{
  position: relative;
}
.posterImgButton{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  opacity: 0;
  left:0;
  right: 0;
}
.add-model-input-box{
  margin-bottom: 1rem;
}
.posterImgButton>.ivu-upload-select{
  width: 100%;
  height: 100%;
}
.add-model-input-box > .add-input{
  width: 80%;
  margin: 0 auto;
  border-radius: 0;
  border:0;
  border-bottom: 2px solid black;
  margin-bottom: 1rem;
}
.add-founder-desc{
  padding: 0.5rem;
  overflow: hidden;
}
.add-founder-box{
  width: 90%;
  margin: 0 auto;
}
.add-founder-name{
  text-align: left;
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
.add-founder-head-desc{
  display: flex;
}
.add-founder-head,.add-founder-desc{
  border:1px solid black;
  min-height: 100px;
  min-width: 100px;
  margin: 1rem;
}
.add-founder-head{
  height: 100px;
  width: 100px;
}
.add-founder-name-input{
  border-bottom: 1.5px solid black;
  border-radius: 0;
  text-align: left;
  outline: none;
}
.add-model-input-box{
  margin-top: 2rem;
}
.add-founder-jiabin-box{
  margin-top: 0.5rem;
}
